<ion-header>
  <ion-toolbar>
    <ion-title>Hitzak ordenatu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label style="font-size: 16px; text-align: center;" id="galdera1">{{gald}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-img [src]="argaz"></ion-img>
    </ion-item>
    <ion-item id="buttons">
    </ion-item>
    <ion-item id="buttonsOrdenados">
    </ion-item>

  </ion-list>
  <div id="botones">
    <ion-button (click)="hurrengoHitza()" shape="round" fill="outline" color="dark">Zuzendu</ion-button>
  </div>
</ion-content>
