<ion-header>
  <ion-toolbar>
    <ion-title>Tiranoko meatzaritza ospitalea</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="align-content: center">
<ion-input id="bi"></ion-input> izeneko hospitalean, meategietan lan egiten zuten gaixoak(<ion-input id="hiru"></ion-input> ateratzen) sendatzen zituzten, baina urteak pasa ahal zer gertatu zen? Gendeak joateari <ion-input id="lau"></ion-input>zioala. Baina arrigarria badirudi ere hospitale hori ez zen &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-input id="bat"></ion-input>baizik eta <ion-input id="bost"></ion-input>bihurtu zen.

<br><ion-button>eskola</ion-button><ion-button>Triano</ion-button><ion-button>utzi</ion-button><ion-button>burdina</ion-button><ion-button>desagertu</ion-button>

  <ion-button id="zuzendu" shape="round" fill="outline" color="dark">Zuzendu</ion-button>
</ion-content>
