<ion-header>
  <ion-toolbar>
    <ion-title>Tiranoko meatzaritza ospitalea</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="align-content: center">
  <ion-input (click)="kendu('i0')" [readonly]="true" class="inputs" id="i0"></ion-input>
  izeneko hospitalean, meategietan lan egiten zuten gaixoak(
  <ion-input (click)="kendu('i1')" [readonly]="true" class="inputs" id="i1"></ion-input>
  ateratzen) sendatzen zituzten, baina urteak pasa ahal zer gertatu zen? Gendeak joateari
  <ion-input (click)="kendu('i2')" [readonly]="true" class="inputs" id="i2"></ion-input>
  zioala. Baina arrigarria badirudi ere hospitale hori ez zen<ion-input (click)="kendu('i3')" [readonly]="true" class="inputs" id="i3"></ion-input>
  baizik eta erreformak egiterakoan <p><ion-input (click)="kendu('i4')" [readonly]="true" class="inputs" id="i4"></ion-input>bihurtu zen.</p>
<ion-item>
  <ion-button id="0" class="btn" (click)="sartu(0)">eskola</ion-button>
  <ion-button id="1" class="btn" (click)="sartu(1)">Triano</ion-button>
  <ion-button id="2" class="btn" (click)="sartu(2)">utzi</ion-button>
</ion-item>
<ion-item>

  <ion-button id="3" class="btn" (click)="sartu(3)">burdina</ion-button>
  <ion-button id="4" class="btn" (click)="sartu(4)">desagertu</ion-button>
</ion-item>
  <ion-button id="zuzendu" (click)="zuzendu()" shape="round" fill="outline" color="dark">Zuzendu</ion-button>
</ion-content>


