#i3{
  border: #0d0d0d 1px solid;
  width: 120px;
  height: 18px;
  float: right;
}
#i0{
  float: left;
  border: #0d0d0d 1px solid;
  width: 77px;
  height: 18px;
}
#i1{
  float: right;
  border: #0d0d0d 1px solid;
  width: 120px;
  height: 18px;
  margin-right: 10px;
}
#i2{
  float: left;
  border: #0d0d0d 1px solid;
  width: 70px;
  height: 18px;
}
#i4{
  float: right;
  border: #0d0d0d 1px solid;
  width: 70px;
  height: 18px;
  margin-top: 2px;

}
ion-title{
  font-size: 15px;
  font-weight: bold;
  float: left;
}
ion-content{
  font-size: 15px;
}
ion-button{
  height: 18px;
  margin-top: 10px;
}
#zuzendu{
  margin-top: 20px;
  height: 25px;
}
p{
  display: inline;
}
