<ion-header>
  <ion-toolbar>
    <ion-title>zutabeaklotu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item id="galderak">
  <ion-button id="g1">Zertan datza burdinezko harria burdin bihurtzeko tratamendua?</ion-button>
  <ion-button id="g2">Zein zen tratamenduaren helburua?</ion-button>
  <ion-button id="g3">Nola bihurtzen zuten burdinezko harria burdin?</ion-button>
  <ion-button id="g4">Nork egiten zuen bereizketa lan garrantzitsu hori?</ion-button>

</ion-item>
<ion-item id="erantzunak">
  <ion-button id="e1">Denak garbitzea eta burinezko harriak hobeto bereiztea</ion-button>
  <ion-button id="e2">Tratamendu baten bitartez</ion-button>
  <ion-button id="e3">Mineralak garbitzeko makinetan edo troneletan sartzen ziren eta gabitzen ziren</ion-button>
  <ion-button id="e4">Emakumeek</ion-button>

</ion-item>
</ion-content>