<ion-header>
  <ion-toolbar>
    <ion-title>GURI BURUZ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Gu Jon Unzalu, Alvaro Viguera eta Oier Loizate gara, Eibarko unibertsitateko Daw2-ko ikasleak. Didaktik App hau sortu dugu Gallarti buruzkoa. Espero dugu gustatzea eta denbora on bat izatea barre algararekin gure aplikazioa erabiltzen.</p>
  <ion-item>
    <ion-img class="argazkia" src="../../assets/img/logo-uni.png"></ion-img>
    <ion-img id="upv" src="../../assets/img/upv.png"></ion-img>
  </ion-item>
</ion-content>
