<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label>ONGI ETORRI DIDAKTIKAPP-ERA</ion-label>
    <br>
    <ion-label id="label2">Jarri zure izena</ion-label>
    <ion-item>
      <ion-input type="text" placeholder="Erabiltzailea" [(ngModel)]="erabiltzailea"></ion-input>
    </ion-item>
    <ion-button (click)="hasiSaioa()">SARTU</ion-button>
  </div>

</ion-content>
