ion-content{
  text-align: center;
  --background: #DF362D;
}
ion-label{
  color: white;
  font-weight: bold;
}
div{
  margin-top: 50%;
}
ion-item{
  --background: #ffffff;
  width: 200px;
  margin: auto;
  text-align: center;
}

ion-button{
  margin-top: 10%;
  --background: #000000;
}

