<ion-content>
  <video [hidden]=isVideoHidden (ended)="vidEnded()" id="myVideo" width="300" height="200" autoplay>
    <source src="{{video}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!--PARA LA APP-->
  <!--<div [hidden]=isButtonHidden style="text-align: center;margin-top: 25%;">
    <ion-button [hidden]=isButtonHidden (click)="closeVideo()">{{ekintza}}</ion-button>
  </div> -->


  <!--PARA DESARROLLO-->
<!--  <div  style="text-align: center;margin-top: 25%;">-->
<!--    <ion-button (click)="closeVideo()">{{ekintza}}</ion-button>-->
<!--  </div>-->
</ion-content>
