ion-button{
  height: 30px;
  font-size: 10px;
}
ion-title{
  font-size: 15px;
  font-weight: bold;
  float: left;
}
#botones{
  display: flex;
}
#zuzendu{
  margin-left: 30%;
}
ion-content{
  position: center;
  margin-right: 30px;
  width: 250px;
  height: 315px;
}
ion-header{
  float: left;
}


