<ion-header>
  <ion-toolbar>
    <ion-title>Estatua de la pasimonia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Galdera</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Biff</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Griff</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Buford</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button shape="round" fill="outline" color="dark">Atzera</ion-button>
  <br>
  <ion-button shape="round" fill="outline" color="dark">Hurrengoa</ion-button>
  <br>

</ion-content>
