  <ion-header>
    <ion-toolbar>
      <ion-title>Estatua de la pasimonia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-radio-group [(ngModel)]="aukeratutakoerantzuna">
        <ion-list-header>
          <ion-label style="font-size: 16px; text-align: center;" id="galdera1">{{gald}}</ion-label>
        </ion-list-header>

        <ion-item [style.--background]="colorVar1">
          <ion-label style="font-size: 12px" id="erantzuna">{{era}}</ion-label>
          <ion-radio value="1" slot="start"></ion-radio>
        </ion-item>

        <ion-item [style.--background]="colorVar2">
          <ion-label style="font-size: 12px" id="erantzuna2">{{era2}}</ion-label>
          <ion-radio value="2" slot="start"></ion-radio>
        </ion-item>

        <ion-item *ngIf="era3Visible" [style.--background]="colorVar3">
          <ion-label style="font-size: 12px" class="ion-text-wrap" id="erantzuna3">{{era3}}</ion-label>
          <ion-radio value="3" slot="start"></ion-radio>
        </ion-item>
        <ion-item *ngIf="era4Visible" [style.--background]="colorVar4">
          <ion-label style="font-size: 12px" id="erantzuna4">{{era4}}</ion-label>
          <ion-radio value="4" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div id="botones">
      <ion-button id="zuzendu" (click)="zuzendu()" shape="round" fill="outline" color="#0cc9c8">Zuzendu</ion-button>
      <!--<ion-button (click)="hurrengoGaldera()" id="hurrengoa" shape="round" fill="outline" color="dark">Hurrengoa</ion-button>-->
    </div>
  </ion-content>

