  <ion-header>
    <ion-toolbar>
      <ion-title>Estatua de la pasimonia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label id="galdera1">Galdera</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label id="erantzuna">Biff</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label id="erantzuna2">Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>

        <ion-item id="erantzuna3">
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <br>

    <ion-button shape="round" fill="outline" color="dark">Atzera</ion-button>
    <ion-button id="hurrengoa" shape="round" fill="outline" color="dark">Hurrengoa</ion-button>


  </ion-content>

